:root {
  /* transition */
  --tr-duration: 0.2s;
  --tr-function: linear;
}

@font-face {
  font-family: Inter;
  src: url(../public/static/fonts/Inter-Regular.ttf);
}

html, body {
  /* Position */
  margin: 0;
}