:root {
  /* transition */
  --tr-duration: 0.2s;
  --tr-function: linear;
}

@font-face {
  font-family: Inter;
  src: url(../public/static/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-Medium;
  src: url(../public/static/fonts/Inter-Medium.ttf);
}

html, body {
  /* Position */
  margin: 0;
}

body {
  /* Content */
  overflow-y: scroll !important;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  /* Position */
  margin: 0;
}

h1 {
  /* Text */
  font-family: Inter-Medium;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #111111;
}

h2 {
  /* Text */
  font-family: Inter-Medium;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #111111;
}

h3 {
  /* Text */
  font-family: Inter-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #111111;
}

p {
  /* Text */
  font-family: Inter-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #111111;
}

a {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #4C3EED;
}
